<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- NomeCartao Column -->
    <ng-container matColumnDef="NomeCartao">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.NomeCartao}} </td>
    </ng-container>
  
    <!-- NumeroCartao Column -->
    <ng-container matColumnDef="NumeroCartao">
      <th mat-header-cell *matHeaderCellDef> NumeroCartao </th>
      <td mat-cell *matCellDef="let element"> {{element.NumeroCartao}} </td>
    </ng-container>
  
    <!-- CVC Column -->
    <ng-container matColumnDef="CVC">
      <th mat-header-cell *matHeaderCellDef> CVC </th>
      <td mat-cell *matCellDef="let element"> {{element.CVC}} </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
